<h1>About project</h1>

<dl>
  <dt><p class="lead">Проект MyAssistant это учебный проект.</p></dt>
    <dd>
      <p>
      В нем используется api.Yandex для отображения расписания транспорта Также будет реализовано отображение событий из Google.Calendar.
      В будущем проект будет включать дополнительные возможности: быстрый перевод текста, отображение картинок по заданному слову и так далее.
      </p>
    </dd>
  <p></p>
  <dt><p class="lead">MyAssistant project is an educational project.</p></dt>
  <dd>
      It is used to display schedules api.Yandex transport There will also be implemented display events from Google.Calendar.
      In the future, the project will include additional features such as a quick translation of the text, images, for a given word, and so on.
  </dd>
</dl>