<h4><%= link_to 'My articles', controller: 'articles' %></h4>
<h4><%= link_to 'My shedules', controller: 'shedules' %></h4>

<div id="list1">
  <% @parsing.each do |str| %>

      <ul>
        <li>
          <%= str %>
        </li>
      </ul>
  <% end %>
</div>