<h1>Hello, Rails!</h1>

<% if user_signed_in? %>
  <h3><%= link_to 'My Articles', controller: 'articles' %></h3>
  <h3><%= link_to 'My Shedules', controller: 'shedules' %></h3>

    <% @rss_feed.each do |item| %>
        <p><%= link_to item[:title], item[:url] %></p>
    <% end %>


    <p>Last.FM events:</p>
    <% @lastfm.each do |item| %>
        <p><%= link_to item[:title], item[:url] %></p>
    <% end %>





<% end %>

